.border {
  border: 2px solid rgba(109, 46, 70, 0.5);
  border-radius: 5px;
  width: 500px;
  min-height: 500px;
  height: auto;
  margin-top: 1rem;
}

.item {
  display: flex;
  border-bottom: 2px solid rgba(162, 103, 105, 0.5);
  padding: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
